#-------------------------------
# Coffee config
#-------------------------------
coffee:
  app:
    name: ${quarkus.application.name}
  config:
    resource:
      bundles: i18n.messages
    xml:
      catalog:
        path: xsd/hu/icellmobilsoft/quarkus/sampler/dto/super.catalog.xml

mp:
  openapi:
    filter: hu.icellmobilsoft.quarkus.sampler.common.rest.filter.OpenAPIFilter

#-------------------------------
# Quarkus settings
#-------------------------------
quarkus:
  management:
    enabled: true
    port: 9001 
  arc:
#    remove-unused-beans: false
    remove-unused-beans: true
    unremovable-types:
      - hu.icellmobilsoft.coffee.module.csv.**
      - hu.icellmobilsoft.coffee.tool.utils.stream.LoggingPublisher
      - hu.icellmobilsoft.coffee.rest.validation.xml.utils.XsdHelper
      - hu.icellmobilsoft.coffee.rest.validation.xml.error.XsdValidationErrorCollector
      - hu.icellmobilsoft.coffee.rest.validation.catalog.PublicCatalogResolver
      - hu.icellmobilsoft.coffee.module.mp.restclient.provider.DefaultLoggerClientRequestFilter
      - hu.icellmobilsoft.coffee.module.mp.restclient.provider.DefaultLoggerClientResponseFilter
      - hu.icellmobilsoft.coffee.module.mp.restclient.provider.DefaultSettingClientRequestFilter
  log:
    category:
      "hu.icellmobilsoft":
        level: ${SAMPLER_LOG_HU_ICELLMOBILSOFT_LEVEL:INFO}
    console:
      json: ${SAMPLER_LOG_CONSOLE_JSON_ENABLED:false}
      format: "%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [traceId=%X{traceId}] [spanId=%X{spanId}] [thread:%t] [%c{10}] [sid:%X{extSessionId}] - %s%E%n"
    handler:
      gelf:
        additional-field:
          "moduleVersion":
            value: ${SAMPLER_GELF_MODULE_VERSION:unknown}
          "moduleId":
            value: ${SAMPLER_GELF_MODULE_ID:unknown}
          "K8S_NAMESPACE":
            value: ${SAMPLER_GELF_K8S_NAMESPACE:unknown}
        include-full-mdc: false
        enabled: ${SAMPLER_GELF_ENABLED:true}
        host: ${SAMPLER_GELF_HOST:tcp:localhost}
        port: ${SAMPLER_GELF_PORT:12201}
#        host: localhost
#        port: 12201
        version: ${SAMPLER_GELF_VERSION:1.1}
    level: ${SAMPLER_LOG_LEVEL:INFO}
    min-level: ${SAMPLER_LOG_MIN_LEVEL:ALL}
  jaeger:
    sampler-type: ${SAMPLER_JAEGER_SAMPLER_TYPE:const}
    sampler-manager-host-port: ${SAMPLER_JAEGER_SAMPLER_MANAGER_HOST_PORT:localhost:5778}
    agent-host-port: ${SAMPLER_JAEGER_AGENT_HOST_PORT:localhost:6831}
#    reporter-log-spans: ${SAMPLER_JAEGER_REPORTER_LOG_SPANS:true}
    sampler-param: ${SAMPLER_JAEGER_SAMPLER_PARAM:0}
  rest-client:
    "hu.icellmobilsoft.quarkus.sampler.rest.restclient.ITestSecondQuarkusSamplerServiceRestRegisteredClient":
      url: http://localhost:8080
      scope: jakarta.enterprise.context.ApplicationScoped
      #read-timeout: 5000
      #connect-timeout: 5000
    "hu.icellmobilsoft.quarkus.sampler.rest.restclient.ITestQuarkusSamplerServiceRestRegisteredClient":
      url: http://localhost:8080
      scope: jakarta.enterprise.context.ApplicationScoped
      #read-timeout: 5000
      #connect-timeout: 5000
  package:
    add-runner-suffix: false
#    type: uber-jar
    type: fast-jar
  smallrye-openapi:
    info-title: Quarkus sampler service
    info-version: ${quarkus.application.version}
    info-description: >
      REST endpoints for operations. <br/> 
      General responses in case of error:  <br/> 
      * __400__ - Bad Request <br/> 
      * __401__ - Unauthorized <br/> 
      * __404__ - Not found <br/> 
      * __418__ - Database object not found <br/> 
      * __500__ - Internal Server Error <br/>
  swagger-ui:
    enable: false

