name: Compile with Maven

on:
  push:
    branches:
      - main
      - 'release/**'
  pull_request:
    branches-ignore:
      - 'gh-pages'
      - 'dependabot/**'

jobs:
  compile-on-os-with-jdk:
    strategy:
      matrix:
        os: [ 'ubuntu-latest', 'windows-latest' ]
        java: [ '17', '21' ]
    runs-on: ${{ matrix.os }}
    name: Compile on ${{ matrix.os }} with JDK ${{ matrix.java }}
    steps:

      # https://github.com/actions/checkout
      - uses: actions/checkout@v4

      # https://github.com/actions/setup-java
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
          cache: 'maven'

      # Maven script [ package ]
      - name: Build with Maven
        run: mvn -B package --file pom.xml
